<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Notícias</title>
    <link rel="stylesheet" href="/css/estiloResp.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
    
</head>
<body>
    <header id="cabecalho">
        <img src="/img/banner_site_map.jpg" alt="Portal de Notícias" title="Portal de Notícias">
    </header>

    <nav>
        <div id="menu">
            
            <ul>
                <li><a id="home" href="/">🏠 Home</a></li>
                <li><a id="entretenimento" href="/noticias/newsCategoria/1">Entretenimento</a></li>
                <li><a id="educacao" href="/noticias/newsCategoria/2">Educação</a></li>
                <li><a id="esporte" href="/noticias/newsCategoria/6">Agrícola</a></li>
                <li><a id="esporte" href="/noticias/newsCategoria/4">Esporte</a></li>
            </ul>
            
        </div>
    </nav>

    <main>
        <div id="conteudo">
            {{{body}}}
        </div>
    </main>
    
    <div id="parceiro"> 
        <img src="/img/html.jpg" alt="HTML5">
        <img src="/img/css.jpg" alt="CSS3">
        <img src="/img/php-mysql.gif" alt="PHP & MySQL">
    </div>
    
    <footer id="rodape">
        <p>© 2025 Portal de Notícias - Desenvolvido por Cleverson Paiva</p> 
    </footer> 
</body>
</html>