
  
  
  <form id="formUsers" action="/categorias/addCategorias" method="POST" onsubmit="return valida()">
    <fieldset>
      <legend>Adicionar Categoria</legend>
    <label>Nome da Categoria:</label><input type="text" class="titulo" id="titulo" name="nome" placeholder="Nome da Categoria" required><br><br>
        
    <input type="submit" value="Enviar"><br><br>
    </fieldset>
  </form>











    <a href="/usuarios/adm">Voltar</a>
    <script>
        function valida(){
            d=document.formUsers;
            if(d.nome.value==""){
                alert("O campo "+d.nome.name+" deve ser preenchido!");
                d.nome.focus();
                return false;
            }
            
        }           
    </script>