<form name="frmLogin" method="post" action="/usuarios/valida">
    <TABLE>
        <TR><TD> 
            <label>Login: </label>
            <input type="text" id="login" name="login"></TD></TR>
        <TR><TD>
            <label>Senha: </label>
            <input type="password" id="senha" name="senha">
        </TD></TR>
        <TR><TD>
            <button name="btlogar" value="Login" type="submit">Login</button>
        </TD></TR>
        </TABLE>
        
</form>